[project]
	description = Example RequireJS-based project that has multiple pages that share a common set of modules.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/NomanLatif (NomanLatif)
[access "refs/for/refs/*"]
	read = group user/NomanLatif (NomanLatif)
	push = group user/NomanLatif (NomanLatif)
	label-Code-Review = -2..+2 group user/NomanLatif (NomanLatif)
	label-Verified = -1..+1 group user/NomanLatif (NomanLatif)
	rebase = group user/NomanLatif (NomanLatif)
	removeReviewer = group user/NomanLatif (NomanLatif)
	submit = group user/NomanLatif (NomanLatif)
[access "refs/heads/*"]
	read = group user/NomanLatif (NomanLatif)
	create = group user/NomanLatif (NomanLatif)
	push = +force group user/NomanLatif (NomanLatif)
	pushMerge = group user/NomanLatif (NomanLatif)
[access "refs/tags/*"]
	push = group user/NomanLatif (NomanLatif)
	push = +force group user/NomanLatif (NomanLatif)
